<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Your Personal Heardle</title>
</head>

<body>
	<h1>{{message}}</h1>
    <div class="answer-block">
    <div><img src="{{song["image"]}}"></div>
    <div class="answer-block">
    <h2>Artists</h2> <h3>{{song["artists"]}}</h3>
    <h2>Track</h2> <h3>{{song["track"]}}</h3>
    </div>
    </div>
    <div>

    <div class="stat-block">
        <h2>Your Stats</h2>
        <div class="stat-hero">
            <div><h3>Games</h3>{{n_games}}</div>
            <div><h3>Wins</h3>{{n_wins}}</div>

        </div>
        <img src="data:image/png;base64, {{ plot_url }}">
    </div>

	<a href="/play" class="button">Play Again</a>
</div>
</html>